.background {
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* Smooth gradient */
    min-height: 100vh;
    padding-bottom: 40px;
  }
  
  h1, h6 {
    margin-bottom: 10px;
  }
  
  @media (max-width: 600px) {
    .background {
      background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* Adjust gradient for smaller screens */
    }
  }
  
  