@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  float: bottom;
  font-family: "Poppins", sans-serif;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: #24262b;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content {
  display: flex;
  margin-left: 100px;
}

.White {
  color: white;
}

.footer-col {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}

.footer-col ul {
  margin-left: -40px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}
.footer-col ul li:hover {
  color: #ffffff;
  padding-left: 8px;
  cursor: pointer;
}

.social__links {
  display: flex;
  margin-top: 5px;
}

.social__link:hover {
  color: #24262b;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 5px;
}

.social__link {
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  margin-right: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  color: #ffffff;
  transition: all 0.3s ease;
}