/* Background */
.index-header {
  background: linear-gradient(to right, #f4f4f9, #e0e0e0);
  padding: 50px 20px;
}

/* Left Section */
.index-header__left {
  padding-left: 80px;
}

/* Title */
.index-header__title {
  color: #333333;  /* Dark Gray */
  font-size: 52px;
  font-weight: bold;
  line-height: 1.2;
}

/* Description */
.index-header__description {
  color: #666666;  /* Medium Gray */
  margin-top: 20px;
  font-size: 18px;
}

/* Search Bar */
.index-header__search {
  width: 100%;
  max-width: 500px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 8px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);  /* Lighter shadow */
}

.index-header__search input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

/* Buttons */
.index-header .MuiButton-root.index-header__button {
  margin-top: 20px;
  border-radius: 50px;
  padding: 14px 35px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.05);  /* Lighter shadow */
  margin-right: 20px;
}

.index-header .MuiButton-root.index-header__button--customer {
  background: #5A9BFF;  /* Soft Blue */
}

.index-header .MuiButton-root.index-header__button--shopkeeper {
  background: #FF6F61;  /* Soft Coral */
}

.index-header .MuiButton-root:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1); /* Slightly stronger shadow */
  border: 2px solid white;
}

.index-header .MuiButton-root:focus {
  outline: none;
}

.index-header .MuiButton-root:active {
  transform: scale(1);
}

/* Image */
.index-header__image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  text-align: center;
}

/* Bottom Container */
.index-header__container {
  border-radius: 8px;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);  /* Lighter shadow */
}
